<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocket Chat</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <<link rel="stylesheet" type="text/css" media="all"
           href="css/style.css"  th:href="@{/css/style.css}"  />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="header">
        <h1>ChatBox</h1>
        <i> Welcome! User:</i>
        <i id="username" th:text="${username}"></i>
    </div>
    <div class="body">
        <div class="user_message"></div>
    </div>
    <div class="footer">
        <input type="text" id="tomsg">
        <input type="text" id="msg">
        <button onclick="sendText()">Send</button>
        <!--        <button onclick="sendImg()" id="file">File</button>-->
        <input type="file" id="file" onchange="sendImg()">
    </div>


</div>

<script type="text/javascript">

    function getWebSocket() {

        var webSocket = new WebSocket('ws://localhost:8080/chat/' + $('#username').text());

        webSocket.onopen = function (event) {
            console.log('WebSocket Connected');
        };

        webSocket.onmessage = function (event) {
            console.log('WebSocket getting message：%c' + event.data, 'color:green');
            var message = JSON.parse(event.data) || {};
            var $messageContainer = $('.user_message');

            if(message.messageType === "text"){
                if(message.toUsername === "All"){
                    $messageContainer.append('<div>' + "User：" + message.fromUsername + " " + message.message + '</div>');
                }else{
                    $messageContainer.append('<div>' + message.fromUsername + "：" + message.message + '</div>');
                }
            }else if(message.messageType === "image"){
                $messageContainer.append('<div>' + '<img width="150px" src='+message.message+'>' + '</div>');
            }
        };

        webSocket.onclose = function (event) {
            console.log('WebSocket Connection Closed');
        };

        webSocket.onerror = function (event) {
            console.log('WebSocket Error Occur');

        };
        return webSocket;
    }

    var webSocket = getWebSocket();


    /**
     * send message to server by websocket object
     */
    function sendText() {
        var $message = $('#msg');
        var username = $('#username').text();
        // var tousername = $('#tomsg').text();
        var tousername = document.getElementById("tomsg").value;
        console.log('sending from: ' + username)
        console.log('sending to: ' + tousername)
        var message = $message.val();
        if ($message.val()) {
            var obj ={messageType: "text", fromUsername: username, toUsername: tousername , message: message};
            console.log(obj);
            webSocket.send(JSON.stringify(obj));
            $message.val(null);
        }

    }


    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && sendText();
    };


    function sendImg() {
        var files = document.querySelector("#file").files
        var username = $('#username').text();
        var tousername = document.getElementById("tomsg").value;
        if(files.length>0){
            var fileReader = new FileReader();
            fileReader.readAsDataURL(files[0])
            fileReader.onload=function (e) {
                var s = JSON.stringify({messageType: "image", fromUsername: username, toUsername: tousername, message:e.target.result});
                webSocket.send(s)
            }
        }
    }


</script>

</body>
</html>